<!--Shows the books associated with that library-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Library name:</strong>
  <%= @library.library_name %>
</p>

<!--Displays the books associated with that library-->
<!--Quick styling to make tables easier to read-->
<table style="width:100%">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Publisher</th>
    <th>Date</th>
    <th>Location</th>
  </thead>
  
  <tbody>
    <!--Data will eventually be stored in a two dimensional array so that each of the rows can be worked with easily-->
    <!--Merge sort will be used, as it has an average efficieny of O(nlogn), which is fair for longer lists of books (assumption that libraries will most likely get larger in the long term)-->
    <% @library.books.each do|book| %>
    <tr>
      <!--Presents all information about the book-->
      <td><%= book.title -%></td>
      <td><%= book.author -%></td>
      <td><%= book.genre -%></td>
      <td><%= book.publisher -%></td>
      <td><%= book.date -%></td>
      <td><%= book.location -%></td>
      <!--Edits the specified book through the books controller-->
      <td><%= link_to 'Edit', :controller => "books", :action => "edit", :id => book.id -%></td>
      <!--Currently unavailable-->
      <td><%= link_to 'Remove' -%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!--Currently unavailable-->
<%= link_to 'Add Book' -%>

<%= link_to 'Back', libraries_path %>
